<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="keywords" content="nocaps, captioning, open images, deep learning, computer vision, neural networks, georgia tech, machine learning">
  <link rel="shortcut icon" href="{{ "/static/img/paper/teaser.jpg" | prepend:site.baseurl }}">

  <title>{{ page.urltitle }}</title>
  <meta name="description" content="{{site.description}}">

  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | prepend:site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/main.css" | prepend:site.baseurl }}" media="screen,projection">
  <!-- Inconsolata -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans:100,300,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:100,300,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nato Sans:100,300,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,300,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,700">

</head>
