<nav id="navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 col-12">
        <div id="site-title-container">
          <span id="site-title">{{ site.title }}</span>
        </div>
        <div id="navbar-ul-container">

          <ul id="navbar-ul">
            <li class="nav-listitem">
              <a href="/">Overview</a>
            </li>
            <li class="nav-listitem">
              <a href="/explore">Explore</a>
            </li>
            <li class="nav-listitem">
              <a href="/download">Download</a>
            </li>
            <li class="nav-listitem">
              <a href="//evalai.cloudcv.org/web/challenges/challenge-page/355/leaderboard/1011" target="_blank">Leaderboard</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr id="navbar-border">
  </div>
</nav>
