<nav id="navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 col-12">
        <div id="site-title-container">
          <a id="site-title" href="{{ site.baseurl }}">{{ site.title }}</a>
          <span id="site-subtitle">{{ site.subtitle }}</span>
        </div>
        <div id="navbar-ul-container">
          <ul id="navbar-ul">
            <li class="nav-listitem">
              <a target="_blank" href="//arxiv.org/abs/1812.08658">Paper</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr id="navbar-border">
  </div>
</nav>
