<div class="row people-container">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="row">

      <!-- Harsh Agarwal -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//harsh.site" target="_blank">
          <img class="people-pic" src="/static/img/people/harsh.jpg" />
        </a>
        <div class="people-name">
          <a href="//harsh.site" target="_blank">Harsh Agrawal</a><span style="font-size: 10px;"> *</span>
          <h6>Georgia Tech</h6>
        </div>
      </div>

      <!-- Karan Desai -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//kdexd.github.io" target="_blank">
          <img class="people-pic" src="/static/img/people/karan.jpg" />
        </a>
        <div class="people-name">
          <a href="//kdexd.github.io" target="_blank">Karan Desai</a><span style="font-size: 10px;"> *</span>
          <h6>Georgia Tech</h6>
        </div>
      </div>


      <!-- Xinlei Chen -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//xinleic.xyz" target="_blank">
          <img class="people-pic" src="/static/img/people/xinleic.jpg" />
        </a>
        <div class="people-name">
          <a href="//xinleic.xyz" target="_blank">Xinlei Chen</a>
          <h6>FAIR</h6>
        </div>
      </div>

      <!-- Rishabh Jain -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//rishabhjain2018.github.io/" target="_blank">
          <img class="people-pic" src="/static/img/people/rishabh.jpg" />
        </a>
        <div class="people-name">
          <a href="//rishabhjain2018.github.io" target="_blank">Rishabh Jain</a>
          <h6>Georgia Tech</h6>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="row">

      <!-- Dhruv Batra -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//cc.gatech.edu/~dbatra/">
          <img class="people-pic" src="/static/img/people/dhruv.jpg" />
        </a>
        <div class="people-name">
          <a href="//cc.gatech.edu/~dbatra/" target="_blank">Dhruv Batra</a>
          <h6>Georgia Tech, FAIR</h6>
        </div>
      </div>

      <!-- Devi Parikh -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//cc.gatech.edu/~parikh" target="_blank">
          <img class="people-pic" src="/static/img/people/devi.jpg" />
        </a>
        <div class="people-name">
          <a href="//cc.gatech.edu/~parikh" target="_blank">Devi Parikh</a>
          <h6>Georgia Tech, FAIR</h6>
        </div>
      </div>

      <!-- Stefan Lee -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//cc.gatech.edu/~slee3191" target="_blank">
          <img class="people-pic" src="/static/img/people/stefan.jpg" />
        </a>
        <div class="people-name">
          <a href="//cc.gatech.edu/~slee3191" target="_blank">Stefan Lee</a>
          <h6>Georgia Tech</h6>
        </div>
      </div>

      <!-- Peter Anderson -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//panderson.me" target="_blank">
          <img class="people-pic" src="/static/img/people/peter.jpg" />
        </a>
        <div class="people-name">
          <a href="//panderson.me" target="_blank">Peter Anderson</a>
          <h6>Georgia Tech</h6>
        </div>
      </div>
    </div>
  </div>
</div>
