<div class="row people-container">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="row">

      <!-- Karan Desai -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//kdexd.github.io">
          <img class="people-pic" src="/static/img/people/karan.jpg" />
        </a>
        <div class="people-name">
          <a href="//kdexd.github.io">Karan Desai</a><span style="font-family: 'Open Sans'; font-size: 10px;"> *</span>
          <h6>Georgia Tech</h6>
        </div>
      </div>

      <!-- Harsh Agrawal -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//harsh.site">
          <img class="people-pic" src="/static/img/people/karan.jpg" />
        </a>
        <div class="people-name">
          <a href="//harsh.site">Harsh Agrawal</a><span style="font-family: 'Open Sans'; font-size: 10px;"> *</span>
          <h6>Georgia Tech</h6>
        </div>
      </div>

      <!-- Xinlei Chen -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//xinleic.xyz">
          <img class="people-pic" src="/static/img/people/xinleic.jpg" />
        </a>
        <div class="people-name">
          <a href="//xinleic.xyz">Xinlei Chen</a>
          <h6>FAIR</h6>
        </div>
      </div>

      <!-- Rishabh Jain -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//rishabhjain2018.github.io/">
          <img class="people-pic" src="/static/img/people/karan.jpg" />
        </a>
        <div class="people-name">
          <a href="//rishabhjain2018.github.io">Rishabh Jain</a>
          <h6>Georgia Tech</h6>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="row">

      <!-- Dhruv Batra -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//cc.gatech.edu/~dbatra/">
          <img class="people-pic" src="/static/img/people/dhruv.jpg" />
        </a>
        <div class="people-name">
          <a href="//cc.gatech.edu/~dbatra/">Dhruv Batra</a>
          <h6>Georgia Tech, FAIR</h6>
        </div>
      </div>

      <!-- Devi Parikh -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//cc.gatech.edu/~parikh">
          <img class="people-pic" src="/static/img/people/devi.jpg" />
        </a>
        <div class="people-name">
          <a href="//cc.gatech.edu/~parikh">Devi Parikh</a>
          <h6>Georgia Tech, FAIR</h6>
        </div>
      </div>

      <!-- Stefan Lee -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//cc.gatech.edu/~slee3191">
          <img class="people-pic" src="/static/img/people/stefan.jpg" />
        </a>
        <div class="people-name">
          <a href="//cc.gatech.edu/~slee3191">Stefan Lee</a>
          <h6>Georgia Tech</h6>
        </div>
      </div>

      <!-- Peter Anderson -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="//panderson.me">
          <img class="people-pic" src="/static/img/people/peter.jpg" />
        </a>
        <div class="people-name">
          <a href="//panderson.me">Peter Anderson</a>
          <h6>Georgia Tech</h6>
        </div>
      </div>

    </div>
  </div>
</div>
