<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6 col-12">
    <div class="row">

      <!-- Harsh Agarwal -->
      <div class="col-md-4 col-sm-4 col-xs-4 col-6 people-container">
        <a class="people-pic-hyperlink" href="//harsh.site" target="_blank">
          <img class="people-pic" src="/static/img/people/harsh.jpg" />
        </a>
        <div class="people-name">
          <a href="//harsh.site" target="_blank">Harsh Agrawal</a><sup>*</sup>
        </div>
        <div class="people-affiliation">Georgia Tech</div>
      </div>

      <!-- Karan Desai -->
      <div class="col-md-4 col-sm-4 col-xs-4 col-6 people-container">
        <a class="people-pic-hyperlink" href="//kdexd.github.io" target="_blank">
          <img class="people-pic" src="/static/img/people/karan.jpg" />
        </a>
        <div class="people-name">
          <a href="//kdexd.github.io" target="_blank">Karan Desai</a><sup>*</sup>
        </div>
        <div class="people-affiliation">Georgia Tech</div>
      </div>

      <!-- Yufei Wang -->
      <div class="col-md-4 col-sm-4 col-xs-4 col-6 people-container">
        <a class="people-pic-hyperlink" href="//github.com/GaryYufei" target="_blank">
          <img class="people-pic" src="/static/img/people/yufei.png" />
        </a>
        <div class="people-name">
          <a href="//github.com/GaryYufei" target="_blank">Yufei Wang</a>
        </div>
        <div class="people-affiliation">Macquarie University</div>
      </div>

      <!-- Dhruv Batra -->
      <div class="col-md-4 col-sm-4 col-xs-4 col-6 people-container">
        <a class="people-pic-hyperlink" href="//cc.gatech.edu/~dbatra/">
          <img class="people-pic" src="/static/img/people/dhruv.jpg" />
        </a>
        <div class="people-name">
          <a href="//cc.gatech.edu/~dbatra/" target="_blank">Dhruv Batra</a>
        </div>
        <div class="people-affiliation">Georgia Tech, FAIR</div>
      </div>

      <!-- Devi Parikh -->
      <div class="col-md-4 col-sm-4 col-xs-4 col-6 people-container">
        <a class="people-pic-hyperlink" href="//cc.gatech.edu/~parikh" target="_blank">
          <img class="people-pic" src="/static/img/people/devi.jpg" />
        </a>
        <div class="people-name">
          <a href="//cc.gatech.edu/~parikh" target="_blank">Devi Parikh</a>
        </div>
        <div class="people-affiliation">Georgia Tech, FAIR</div>
      </div>
      
      <!-- Stefan Lee -->
      <div class="col-md-4 col-sm-4 col-xs-4 col-6 people-container">
        <a class="people-pic-hyperlink" href="//cc.gatech.edu/~slee3191" target="_blank">
          <img class="people-pic" src="/static/img/people/stefan.jpg" />
        </a>
        <div class="people-name">
          <a href="//cc.gatech.edu/~slee3191" target="_blank">Stefan Lee</a>
        </div>
        <div class="people-affiliation">Georgia Tech</div>
      </div>

    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-6 col-12">
    <div class="row">

      <!-- Xinlei Chen -->
      <div class="col-md-4 col-sm-4 col-xs-4 col-6 people-container">
        <a class="people-pic-hyperlink" href="http://xinleic.xyz" target="_blank">
          <img class="people-pic" src="/static/img/people/xinleic.jpg" />
        </a>
        <div class="people-name">
          <a href="http://xinleic.xyz" target="_blank">Xinlei Chen</a>
        </div>
        <div class="people-affiliation">FAIR</div>
      </div>

      <!-- Rishabh Jain -->
      <div class="col-md-4 col-sm-4 col-xs-4 col-6 people-container">
        <a class="people-pic-hyperlink" href="//rishabhjain2018.github.io/" target="_blank">
          <img class="people-pic" src="/static/img/people/rishabh.jpg" />
        </a>
        <div class="people-name">
          <a href="//rishabhjain2018.github.io" target="_blank">Rishabh Jain</a>
        </div>
        <div class="people-affiliation">Georgia Tech</div>
      </div>

      <!-- Mark Johnson -->
      <div class="col-md-4 col-sm-4 col-xs-4 col-6 people-container">
        <a class="people-pic-hyperlink" href="" target="_blank">
          <img class="people-pic" src="/static/img/people/mj.png" />
        </a>
        <div class="people-name">
          <a href="" target="_blank">Mark Johnson</a>
        </div>
        <div class="people-affiliation">Macquarie University</div>
      </div>

      <!-- Peter Anderson -->
      <div class="col-md-4 col-sm-4 col-xs-4 col-6 people-container">
        <a class="people-pic-hyperlink" href="http://panderson.me" target="_blank">
          <img class="people-pic" src="/static/img/people/peter.jpg" />
        </a>
        <div class="people-name">
          <a href="http://panderson.me" target="_blank">Peter Anderson</a>
        </div>
        <div class="people-affiliation">Georgia Tech</div>
      </div>

      <!-- Georgia Tech, FAIR, and MQ logos -->
      <div class="col-md-4 col-sm-4 col-xs-4 col-6">
        <a class="people-pic-hyperlink" href="//gatech.edu" target="_blank">
          <img src="/static/img/ico/gt.jpg" class="affiliation-logo">
        </a>
        <a class="people-pic-hyperlink" href="//www.mq.edu.au" target="_blank">
          <img src="/static/img/ico/mu.png" class="affiliation-logo">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 col-6">
        <a class="people-pic-hyperlink" href="//research.fb.com" target="_blank">
          <img src="/static/img/ico/fair.jpg" class="affiliation-logo float-right">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6 col-12" style="font-size: 14px; margin-top: 5px">* denotes equal contribution</div>
</div>
