---
---
@import "style";

/************************************************
 * Dataset download links                       *
 ************************************************/

.nocaps-word {
    font-weight: 700;
}

.download-container {
    margin: 0;
    padding: 0 0 20px 0;

    div {
        padding: 0;
    }
}

.format-container {
    margin: 0;
    padding: 0 0 20px 0;

    div {
        padding: 0;
    }
}

.dataset-container {
    margin: 0;
    padding: 0 0 20px 0;

    div {
        padding: 0;
    }
}
