---
---
@import "style";

/************************************************
 |  Navbar                                      |
 ************************************************/

#navbar {
    position: fixed;
    padding: 25px 0 0 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: $navbar-background-color;
    z-index: 1030;
}

#site-title-container {
    display: inline-block;
    float: left;
    vertical-align: bottom;
}

#site-title {
    color: $title-color;
    font-size: 34px;
    font-weight: 700;
    text-decoration: none;    
}

#navbar-ul-container {
    display: inline-block;
    float: right;
    margin: 0;
    vertical-align: bottom;
}

#navbar-ul {
    list-style-type: none;
}

.nav-listitem {
    margin: 0 15px 0 15px;
    font-size: 22px;
    display: inline-block;
    float: left;
    
    a {
        color: $anchor-color;
        font-weight: bold;
        border: 0px;
    }
}

#navbar-border {
    clear: both;
    margin: 20px 0 0 0;
}

@media (max-width: 650px) {
    #navbar {
        position: absolute;
        text-align: center;
        padding: 10px 0px 0px 0px;
    }
}

@media (max-width: 500px) {
    #navbar {
        position: absolute;
        text-align: center;
        padding: 10px 0px 0px 0px;
    }

    #site-title-container {
        display: block;
        float: none;
        width: 100%;
    }

    #navbar-ul-container {
        display: block;
        float: none;
        padding: 10px 0 10px 0;
        text-align: center;
        width: 100%;
    }
}
