@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }
    ol {
        counter-reset: list;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul > li {
        margin: 5px 0 5px 0;
    }
    ul {
        padding: 0 20px 0 20px;;
    }
    ol {
        padding: 0 30px 0 30px;
    }
    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }
    blockquote {
        //border: 1px solid black;
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }
    input {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: inset 0 -1px 0 grey;
        color: darkslategrey;
        display: block;
        height: 30px;
        font-family: inherit;
        font-size: 16px;
    }
    input:focus {
        box-shadow: inset 0 -1px 0 black;
    }
    button {
        background-color: transparent;
        border: 1px dashed black;
        border-radius: 3px;
        color: black;
        display: block;
        height: 30px;
        font-family: inherit;
        font-size: 16px;
    }
    button:hover {
        border: 1px solid black;
        border-radius: 3px;
        color: orangered;
        display: block;
        height: 30px;
        font-family: inherit;
        font-size: 16px;
    }
}
