/*
 * Customization Variables
 */

$image-size: 85px;
$navbar-background-color: #FFFFFF;


/*
 * Font sizes
 */

$line-height: 22px;
$caption-fs: 16px;
$paper-title-fs: 20px;
$paper-authors-fs: 16px;
$people-fs: 17px;

/*
 * Colors
 */

$anchor-color: forestgreen;
$text-color: black;
$title-color: black;
